.banner {
    position: relative;
    &-content {
        position: absolute;
        z-index: 0;
        // top: 0;
        left: 0;
        right: 0;
        bottom: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &>p:not(:last-child) {
            border-bottom: 1px solid white;
            padding: 0 100px 0 100px;
        }
    }
}

.btn-modal {
    position: absolute;
    top: -90vh;
    z-index: 1;
}

@media (max-width: 768px) {
    .btn-modal {
        top: -70vh;
    }
}